@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Local-Bite custom colors */
  --color-sev-yellow: #FFC947;
  --color-chili-red: #E63946;
  --color-coriander-green: #2A9D8F;
  --color-cumin-brown: #3A3335;
  --color-poha-cream: #FEF9F3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c2c2c2;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

